In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [12]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

In [13]:
fips.head()

   stfips   stname ctyfips         ctyname  fips
0       1  Alabama       0               0     0
1       1  Alabama       1  Autauga County  1001
2       1  Alabama       3  Baldwin County  1003
3       1  Alabama       5  Barbour County  1005
4       1  Alabama       7     Bibb County  1007

In [14]:
cases = pd.read_excel("jhu_cases.xlsx")
cases.drop(cases.columns[[0,1,2, 3, 5, 6, 7, 8, 9, 10]], axis=1, inplace=True)

cases.head()

,FIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20
0,60.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,66.0,0,0,0,0,0,0,0,0,0,...,56,58,69,77,82,84,93,112,113,121
2,69.0,0,0,0,0,0,0,0,0,0,...,0,0,2,6,6,6,6,6,6,6
3,72.0,0,0,0,0,0,0,0,0,0,...,127,174,239,286,316,316,452,475,513,573
4,78.0,0,0,0,0,0,0,0,0,0,...,23,30,30,30,30,37,40,42,43,43

In [16]:
cols = []
cols2 = []
for i in range(1, 78):
    old = cases.columns[i]
    dto = datetime.strptime(old, '%m/%d/%y')
    new = dto.strftime('%m%d%Y')
    cols.append('cases_' + new)
    cols2.append('deaths_' + new)

In [17]:
for item in cols:
    fips[item] = 0
fips.head()

,stfips,stname,ctyfips,ctyname,fips,cases_01222020,cases_01232020,cases_01242020,cases_01252020,cases_01262020,...,cases_03292020,cases_03302020,cases_03312020,cases_04012020,cases_04022020,cases_04032020,cases_04042020,cases_04052020,cases_04062020,cases_04072020
0,1,Alabama,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
def row_loc_county(inp):
    location = fips.index[(fips['fips']) == inp].values
    location = location.tolist()
    return location

In [19]:
for j in range(cases.shape[0]):
    for i in range(1, 78):
        fips.iloc[row_loc_county(cases.iloc[j, 0]), i+4] = cases.iloc[j, i]

In [ ]:
for j in range(deaths.shape[0]):
    for i in range(1, 78):
        fips.iloc[row_loc_county(deaths.iloc[j, 0]), i+4] = deaths.iloc[j, i]

In [21]:
fips.to_csv("jhu_conf.csv")

In [22]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

In [28]:
deaths = pd.read_excel("jhu_deaths.xlsx", header=1)
deaths.drop(deaths.columns[[0,1,2, 3, 5, 6, 7, 8, 9, 10, 11]], axis=1, inplace=True)


deaths.head()

,FIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20
0,60.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,66.0,0,0,0,0,0,0,0,0,0,...,1,1,2,3,3,4,4,4,4,4
2,69.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
3,72.0,0,0,0,0,0,0,0,0,0,...,3,6,8,11,12,15,18,20,21,23
4,78.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1

In [29]:
for item in cols2:
    fips[item] = 0
fips.head()

,stfips,stname,ctyfips,ctyname,fips,deaths_01222020,deaths_01232020,deaths_01242020,deaths_01252020,deaths_01262020,...,deaths_03292020,deaths_03302020,deaths_03312020,deaths_04012020,deaths_04022020,deaths_04032020,deaths_04042020,deaths_04052020,deaths_04062020,deaths_04072020
0,1,Alabama,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
for j in range(deaths.shape[0]):
    for i in range(1, 78):
        fips.iloc[row_loc_county(deaths.iloc[j, 0]), i+4] = deaths.iloc[j, i]

In [31]:
fips.to_csv("jhu_conf_deaths.csv")

In [37]:
case = pd.read_csv("jhu_conf.csv")
death = pd.read_csv("jhu_conf_deaths.csv")

In [38]:
merged = pd.concat([case, death.iloc[:, 5:]], axis=1)
merged

,stfips,stname,ctyfips,ctyname,fips,cases_01222020,cases_01232020,cases_01242020,cases_01252020,cases_01262020,...,deaths_03292020,deaths_03302020,deaths_03312020,deaths_04012020,deaths_04022020,deaths_04032020,deaths_04042020,deaths_04052020,deaths_04062020,deaths_04072020
0,1,Alabama,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3319,72,Puerto Rico,147,Vieques Municipio,72147,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3320,72,Puerto Rico,149,Villalba Municipio,72149,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3322,72,Puerto Rico,153,Yauco Municipio,72153,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3323,72,Puerto Rico,unknown,unknown,unknown,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
merged.to_csv("JHU_caseAndDeath.csv")