In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [5]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips.iloc[3142]
fips = fips.reset_index(drop=True)
fips = fips[0:3142]
fips.head()

   stfips   stname ctyfips         ctyname  fips
0       1  Alabama       1  Autauga County  1001
1       1  Alabama       3  Baldwin County  1003
2       1  Alabama       5  Barbour County  1005
3       1  Alabama       7     Bibb County  1007
4       1  Alabama       9   Blount County  1009

In [2]:
google = pd.read_csv("google.csv")

In [3]:
google = google.iloc[:10000]

In [4]:
for i in range(google.shape[0]):
    old = google.iloc[i, 2]
    dto = datetime.strptime(old, '%m/%d/%Y')
    google.iloc[i, 2] = dto.strftime('%Y%m%d')

In [96]:
(fips.loc[(fips["ctyname"] == google.iloc[150, 1]) & (fips["stname"] == google.iloc[150, 0]), [0, 1, 3]]) = 100

In [93]:
(fips.loc[(fips["ctyname"] == google.iloc[150, 1]) & (fips["stname"] == google.iloc[150, 0])])

   stfips   stname ctyfips         ctyname  fips      0      1    3
1       1  Alabama       3  Baldwin County  1003  100.0  100.0  2.0

In [6]:
for i in range(google.shape[0]):
    (fips.loc[(fips["ctyname"] == google.iloc[i, 1]) & (fips["stname"] == google.iloc[i, 0]), (google.iloc[i, 2] + "_retail" ) ]) = google.iloc[i, 3]
    (fips.loc[(fips["ctyname"] == google.iloc[i, 1]) & (fips["stname"] == google.iloc[i, 0]), (google.iloc[i, 2] + "_grocery" ) ]) = google.iloc[i, 4]
    (fips.loc[(fips["ctyname"] == google.iloc[i, 1]) & (fips["stname"] == google.iloc[i, 0]), (google.iloc[i, 2] + "_parks" ) ]) = google.iloc[i, 5]
    (fips.loc[(fips["ctyname"] == google.iloc[i, 1]) & (fips["stname"] == google.iloc[i, 0]), (google.iloc[i, 2] + "_transit" ) ]) = google.iloc[i, 6]
    (fips.loc[(fips["ctyname"] == google.iloc[i, 1]) & (fips["stname"] == google.iloc[i, 0]), (google.iloc[i, 2] + "_workplace" ) ]) = google.iloc[i, 7]
    (fips.loc[(fips["ctyname"] == google.iloc[i, 1]) & (fips["stname"] == google.iloc[i, 0]), (google.iloc[i, 2] + "_residential" ) ]) = google.iloc[i, 8]

In [105]:
google.head()

,state,county,date,retail,grocery,parks,transit,workplace,residential
0,Alabama,NaN,20200215,5.0,2.0,39.0,7.0,2.0,-1.0
1,Alabama,NaN,20200216,0.0,-2.0,-7.0,3.0,-1.0,1.0
2,Alabama,NaN,20200217,3.0,0.0,17.0,7.0,-17.0,4.0
3,Alabama,NaN,20200218,-4.0,-3.0,-11.0,-1.0,1.0,2.0
4,Alabama,NaN,20200219,4.0,1.0,6.0,4.0,1.0,0.0

In [107]:
fips.head()

,stfips,stname,ctyfips,ctyname,fips,0,1,3,parks,20200215_retail,...,20200402_retail,20200403_retail,20200404_retail,20200405_retail,20200406_retail,20200407_retail,20200408_retail,20200409_retail,20200410_retail,20200411_retail
0,1,Alabama,1,Autauga County,1001,NaN,NaN,NaN,100.0,5.0,...,-24.0,-24.0,-39.0,-53.0,-30.0,-35.0,-31.0,-29.0,-30.0,-37.0
1,1,Alabama,3,Baldwin County,1003,100.0,100.0,100.0,100.0,17.0,...,-40.0,-39.0,-48.0,-55.0,-46.0,-47.0,-42.0,-41.0,-41.0,-44.0
2,1,Alabama,5,Barbour County,1005,NaN,NaN,NaN,100.0,5.0,...,-10.0,-9.0,-22.0,-40.0,NaN,NaN,NaN,NaN,-18.0,NaN
3,1,Alabama,7,Bibb County,1007,NaN,NaN,NaN,100.0,14.0,...,-8.0,-10.0,-12.0,-42.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Alabama,9,Blount County,1009,NaN,NaN,NaN,100.0,7.0,...,-23.0,-20.0,-23.0,-49.0,NaN,NaN,NaN,NaN,-25.0,-20.0

In [7]:
fips.to_csv("google_partial_0_9999.csv")

In [79]:
google = google = pd.read_csv("google.csv")
google = google.iloc[140000:]
for i in range(google.shape[0]):
    dto = datetime.strptime(google.iloc[i, 2], '%m/%d/%Y')
    google.iloc[i, 2] = dto.strftime('%Y%m%d')

In [80]:
for i in range(google.shape[0]):
    (fips.loc[(fips["ctyname"] == google.iloc[i, 1]) & (fips["stname"] == google.iloc[i, 0]), [(google.iloc[i, 2] + "_retail" ), (google.iloc[i, 2] + "_grocery" ), (google.iloc[i, 2] + "_parks" ), (google.iloc[i, 2] + "_transit" ), (google.iloc[i, 2] + "_workplace" ), (google.iloc[i, 2] + "_residential" )] ]) = [google.iloc[i, 3], google.iloc[i, 4], google.iloc[i, 5], google.iloc[i, 6], google.iloc[i, 7], google.iloc[i, 8]]

In [81]:
fips.to_csv("google_partial_140000_end.csv")

In [82]:
fips.to_csv("google_mobilityData.csv")