In [1]:
import pandas as pd
from datetime import datetime

In [54]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips.iloc[3142]
fips = fips.reset_index(drop=True)
fips = fips[0:3142]
fips.head()

   stfips   stname ctyfips         ctyname  fips
0       1  Alabama       1  Autauga County  1001
1       1  Alabama       3  Baldwin County  1003
2       1  Alabama       5  Barbour County  1005
3       1  Alabama       7     Bibb County  1007
4       1  Alabama       9   Blount County  1009

In [2]:
df = pd.read_csv("sds-v3-full-county.csv")

In [3]:
df.head()

,state_code,state_fips,state_name,county_fips,county_name,county_population,last_updated,date,weekday,covid,...,n_grade_total,daily_distance_diff,grade_distance,n_grade_distance,daily_visitation_diff,grade_visitation,n_grade_visitation,encounters_rate,grade_encounters,n_grade_encounters
0,AL,1,Alabama,1025,Clarke County,23920,2020-04-28 13:44:33.477316 UTC,2020-04-11,7,POST,...,3.0,-0.442102,C,3,-0.442128,F,1.0,-0.944556,A,5
1,AL,1,Alabama,1113,Russell County,57781,2020-04-28 13:44:33.477316 UTC,2020-04-17,6,POST,...,1.3,-0.336238,D,2,-0.424727,F,1.0,-0.331122,F,1
2,AL,1,Alabama,1113,Russell County,57781,2020-04-28 13:44:33.477316 UTC,2020-04-14,3,POST,...,1.7,-0.294834,D,2,-0.320814,F,1.0,-0.597374,D,2
3,AL,1,Alabama,1113,Russell County,57781,2020-04-28 13:44:33.477316 UTC,2020-03-23,2,POST,...,1.3,-0.169263,F,1,-0.357881,F,1.0,-0.575750,D,2
4,AL,1,Alabama,1113,Russell County,57781,2020-04-28 13:44:33.477316 UTC,2020-03-07,7,PRE,...,1.0,0.039957,F,1,0.036281,F,1.0,0.144414,F,1

In [47]:
for i in range(154505, df.shape[0]):
    old = df.iloc[i, 7]
    dto = datetime.strptime(old, '%Y-%m-%d')
    df.iloc[i, 7] = dto.strftime('%Y%m%d')

In [49]:
dates = []
for date in df.iloc[:, 7]:
    if date not in dates:
        dates.append(date)
dates.sort()
#dates

In [51]:
cols = df.columns[5:]
cols

Index(['county_population', 'last_updated', 'date', 'weekday', 'covid',
       'grade_total', 'n_grade_total', 'daily_distance_diff', 'grade_distance',
       'n_grade_distance', 'daily_visitation_diff', 'grade_visitation',
       'n_grade_visitation', 'encounters_rate', 'grade_encounters',
       'n_grade_encounters'],
      dtype='object')

In [55]:
for date in dates:
    for col in cols:
        fips[date + "_" + col] = ""

In [61]:
for i in range(df.shape[0]):
    for col in df.columns[5:]:
        fips.loc[(fips["fips"] == df.iloc[i, 3]), (df.iloc[i, 7] + "_" + col)] = df.loc[(i), (col)]

In [57]:
df.head()

,state_code,state_fips,state_name,county_fips,county_name,county_population,last_updated,date,weekday,covid,...,n_grade_total,daily_distance_diff,grade_distance,n_grade_distance,daily_visitation_diff,grade_visitation,n_grade_visitation,encounters_rate,grade_encounters,n_grade_encounters
0,AL,1,Alabama,1025,Clarke County,23920,2020-04-28 13:44:33.477316 UTC,20200411,7,POST,...,3.0,-0.442102,C,3,-0.442128,F,1.0,-0.944556,A,5
1,AL,1,Alabama,1113,Russell County,57781,2020-04-28 13:44:33.477316 UTC,20200417,6,POST,...,1.3,-0.336238,D,2,-0.424727,F,1.0,-0.331122,F,1
2,AL,1,Alabama,1113,Russell County,57781,2020-04-28 13:44:33.477316 UTC,20200414,3,POST,...,1.7,-0.294834,D,2,-0.320814,F,1.0,-0.597374,D,2
3,AL,1,Alabama,1113,Russell County,57781,2020-04-28 13:44:33.477316 UTC,20200323,2,POST,...,1.3,-0.169263,F,1,-0.357881,F,1.0,-0.575750,D,2
4,AL,1,Alabama,1113,Russell County,57781,2020-04-28 13:44:33.477316 UTC,20200307,7,PRE,...,1.0,0.039957,F,1,0.036281,F,1.0,0.144414,F,1

In [59]:
fips.loc[fips["fips"] == 1025]

,stfips,stname,ctyfips,ctyname,fips,20200224_county_population,20200224_last_updated,20200224_date,20200224_weekday,20200224_covid,...,20200426_n_grade_total,20200426_daily_distance_diff,20200426_grade_distance,20200426_n_grade_distance,20200426_daily_visitation_diff,20200426_grade_visitation,20200426_n_grade_visitation,20200426_encounters_rate,20200426_grade_encounters,20200426_n_grade_encounters
12,1,Alabama,25,Clarke County,1025,,,,,,...,,,,,,,,,,

In [63]:
fips.to_csv("unacast.csv")