In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [1]:
import os
os.chdir("../raw data")

In [24]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

In [21]:
unemploy = pd.read_excel("US_county_unemployment.xlsx")

In [25]:
months = [str(i) for i in range(1, 13)]
years = ["2018", "2019", "2020"]
params = ["laborforce", "unemployment"]

col_names = []
for year in years:
    for month in months:
        for param in params:
            col_names.append(month + "_" + year + "_" + param)
            
for col in col_names:
    fips[col] = ""

In [26]:
fips.head()

,stfips,stname,ctyfips,ctyname,fips,1_2018_laborforce,1_2018_unemployment,2_2018_laborforce,2_2018_unemployment,3_2018_laborforce,...,8_2020_laborforce,8_2020_unemployment,9_2020_laborforce,9_2020_unemployment,10_2020_laborforce,10_2020_unemployment,11_2020_laborforce,11_2020_unemployment,12_2020_laborforce,12_2020_unemployment
0,1,Alabama,0,0,0,,,,,,...,,,,,,,,,,
1,1,Alabama,1,Autauga County,1001,,,,,,...,,,,,,,,,,
2,1,Alabama,3,Baldwin County,1003,,,,,,...,,,,,,,,,,
3,1,Alabama,5,Barbour County,1005,,,,,,...,,,,,,,,,,
4,1,Alabama,7,Bibb County,1007,,,,,,...,,,,,,,,,,

In [27]:
unemploy.head()

,stname,stfips,ctyname,ctyfips,fips,year,month,laborforce,unemployment
0,Alabama,1,Autauga County,1,1001,2018,12,25811,3.3
1,NaN,1,NaN,1,1001,2019,1,25808,3.9
2,NaN,1,NaN,1,1001,2019,2,26084,3.5
3,NaN,1,NaN,1,1001,2019,3,26269,3.4
4,NaN,1,NaN,1,1001,2019,4,26400,3.0

In [28]:
def row_loc_county(inp):
    location = fips.index[(fips['fips']) == inp].values
    location = location.tolist()
    return location

In [29]:
for i in range(unemploy.shape[0]):
    for item in unemploy.columns[7:]:
        fips.iloc[row_loc_county(unemploy.iloc[i, 4]), fips.columns.get_loc(str(unemploy.iloc[i, 6]) + "_" + str(unemploy.iloc[i, 5]) + "_" + item)] = unemploy.iloc[i, unemploy.columns.get_loc(item)]

In [2]:
os.chdir("../data")

In [30]:
fips.to_csv("census_unemployment.csv")